@import "tailwindcss";

/* Hide scrollbars globally for demo components */
.no-scrollbar::-webkit-scrollbar,
.scrollbar-none::-webkit-scrollbar,
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.no-scrollbar,
.scrollbar-none,
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
